/* Project Link : https://pagoulid.github.io/CSS-Link-and-Images/ */
.container{
    width:70%;
    height:94vh;
    margin:auto;
    
    background-color: aquamarine;
    border: 4px solid greenyellow;
    box-shadow:2px 2px 5px 0.5px black;
}
/*Links*/
.container-links{
    width:60%;
    text-align: center;
    margin:0 auto;
    background-color: rgb(10, 224, 252);
    border:8px groove slategray;   
}
.container-links .links-item{
    border:4px groove lightgray; 
                
}
 .container-links a{
    display:block;
    font-family: Alumni Sans Pinstripe;
    font-size:4rem;
    font-weight: bold;
    margin-left:5px;
    color:blue;
    text-decoration: none; 
    cursor:crosshair;
}
/*Bug on text decoration : sth to do with -webkit-link*/

/*Links*/
/*Image*/
 .container-img{
    width:40%;
    margin:0 auto;
    padding-top:0.5rem;
    padding-left: 5rem;
}

.container-img img{
    border-radius: 10%;
}
/*Image*/

